<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
        <link rel="stylesheet" th:href="@{/css/style.css}"/>
        <link rel="stylesheet" th:href="@{/css/jdbc/update.css}"/>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
        <title>Update</title>
    </head>
    <body>
        <header th:replace="header :: top">Your header/navbar here</header>
        <h1>Spring Quest : JDBC</h1>
        <h2>Update</h2>
        <div class="container">
            <div class="add-new-school">
                <a href="/jpa/jpa-1/school">Add New School</a>
            </div>
            <h3>All Schools</h3>
            <table>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Capacity</th>
                        <th>Country</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="school : ${schools}">
                        <td th:text="${school.id}">id</td>
                        <td th:text="${school.name}">name</td>
                        <td th:text="${school.capacity}">capacity</td>
                        <td th:text="${school.country}">country</td>
                        <td><a th:href="@{/jpa/jpa-1/school(id=${school.id})}">Update</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
    <footer th:replace="footer :: bottom">Your footer here</footer>
</html>
