<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
        <link rel="stylesheet" th:href="@{/css/style.css}">
        <link rel="stylesheet" th:href="@{/css/jpa/jpa1.css}">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
        <title>JPA 1</title>
    </head>
    <body>
        <header th:replace="header :: top">Your header/navbar here</header>
        <h1>Spring Quest : JPA</h1>
        <h2>JPA 1</h2>
        <div class="container">
            <ul>
                <li><a href="/jpa/1/school">Add A New School</a></li>
                <li><a href="/jpa/1/schools">Show All Schools</a></li>
                <li><a href="/jpa/1/wizard">Add A New Wizard</a></li>
                <li><a href="/jpa/1/wizards">Show All Wizards</a></li>
            </ul>
        </div>
    </body>
    <footer th:replace="footer :: bottom">Your footer here</footer>
</html>
