<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="head">
        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
        <link rel="stylesheet" th:href="@{/css/style.css}"/>
        <link rel="stylesheet" th:href="@{/css/jpa/jpa1.css}"/>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
        <title>JPA 1</title>
    </head>
    <body>
        <header th:replace="header :: top">Your header here</header>
        <h2>Spring Quests : JPA (Harry Potter)</h2>
        <h3><a href="jpa/wizards">Browse all Wizards</a></h3>
        <h3><a href="jpa/schools">Browse all Schools</a></h3>
        <h3><a href="jpa/races">Browse all Races</a></h3>
        <h3><a href="jpa/wizard">Add new Wizard</a></h3>
        <h3><a href="jpa/school">Add new School</a></h3>
        <h3><a href="jpa/race">Add new Race</a></h3>
    </body>
    <footer th:replace="footer :: bottom">Your footer here</footer>
</html>
