<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="head">
        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
        <link rel="stylesheet" th:href="@{/css/style.css}"/>
        <link rel="stylesheet" th:href="@{/css/jpa/jpa1.css}"/>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
        <title>JPA 1</title>
    </head>
    <body>
        <header th:replace="header :: top">Your header here</header>
        <h2>Spring Quest : JPA (Harry Potter - School)</h2>
        <h3 th:text="${school.id} ? 'Edit School' : 'Create School'">School</h3>
        <form method="post" th:action="@{school}" th:object="${school}">
            <input name="id" th:field="*{id}" type="hidden">
            <br/>
            <label for="school-name">Name:</label>
            <input id="school-name" name="name" placeholder="Wild Code School" required th:field="*{name}" type="text">
            <br/>
            <label for="school-capacity">Capacity:</label>
            <input id="school-capacity" name="capacity" placeholder="40" required th:field="*{capacity}" type="number">
            <br/>
            <label for="school-country">Country:</label>
            <input id="school-country" name="country" placeholder="France" required th:field="*{country}" type="text">
            <br/>
            <input type="submit" value="Send">
        </form>
        <a href="/jpa/schools">Return to the list</a>
    </body>
    <footer th:replace="footer :: bottom">Your footer here</footer>
</html>
