<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
        <link rel="stylesheet" th:href="@{/css/style.css}">
        <link rel="stylesheet" th:href="@{/css/root/root3.css}">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
        <title>Root 3</title>
    </head>
    <body>
        <header th:replace="header :: top">Your header/navbar here</header>
        <h1>Spring Quest : Root</h1>
        <h2>Root 3</h2>
        <div class="container">
            <ul>
                <li><a href="/root/3/doctor?number=1&name=William%20Hartnell">Doctor 1 ---> (1) William Hartnell</a></li>
                <li><a href="/root/3/doctor?number=2&name=Patrick%20Troughton">Doctor 2 ---> (2) Patrick Troughton</a></li>
                <li><a href="/root/3/doctor?number=3&name=Jon%20Pertwee">Doctor 3 ---> (3) Jon Pertwee</a></li>
                <li><a href="/root/3/doctor?number=4&name=Tom%20Baker">Doctor 4 ---> (4) Tom Baker</a></li>
                <li><a href="/root/3/doctor?number=5&name=Peter%20Davison">Doctor 5 ---> (5) Peter Davison</a></li>
                <li><a href="/root/3/doctor?number=6&name=Colin%20Baker">Doctor 6 ---> (6) Colin Baker</a></li>
                <li><a href="/root/3/doctor?number=7&name=Sylvester%20McCoy">Doctor 7 ---> (7) Sylvester McCoy</a></li>
                <li><a href="/root/3/doctor?number=8&name=Paul%20McGann">Doctor 8 ---> (8) Paul McGann</a></li>
                <li><a href="/root/3/doctor?number=9&name=Christopher%20Eccleston">Doctor 9 ---> (9) Christopher Eccleston</a></li>
                <li><a href="/root/3/doctor?number=10&name=David%20Tennant">Doctor 10 ---> (10) David Tennant</a></li>
                <li><a href="/root/3/doctor?number=11&name=Matt%20Smith">Doctor 11 ---> (11) Matt Smith</a></li>
                <li><a href="/root/3/doctor?number=12&name=Peter%20Capaldi">Doctor 12 ---> (12) Peter Capaldi</a></li>
                <li><a href="/root/3/doctor?number=13&name=Jodie%20Whittaker">Doctor 13 ---> (13) Jodie Whittaker</a></li>
                <li><a href="/root/3/doctor">Unknown Doctor ---> (0) John Smith</a></li>
            </ul>
        </div>
    </body>
    <footer th:replace="footer :: bottom">Your footer here</footer>
</html>
