<!DOCTYPE html>
<html lang="en">
    <head th:fragment="head">
        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
        <link rel="stylesheet" th:href="@{/css/style.css}"/>
        <link rel="stylesheet" th:href="@{/css/root/root3.css}"/>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
        <title>Root 3</title>
    </head>
    <body>
        <header th:replace="header :: top">Your header/navbar here</header>
        <h1>Spring Quest : Root</h1>
        <h2>Root 3</h2>
        <div class="root3-quest-container">
            <ul>
                <li><a href="/root/root3/doctor/?number=1&name=William%20Hartnell"><b>Doctor 1 -&ndash;&gt; (1) William Hartnell)</b></a></li>
                <li><a href="/root/root3/doctor/?number=2&name=Patrick%20Troughton"><b>Doctor 2 -&ndash;&gt; (2) Patrick Troughton)</b></a></li>
                <li><a href="/root/root3/doctor/?number=3&name=Jon%20Pertwee"><b>Doctor 3 -&ndash;&gt; (3) Jon Pertwee)</b></a></li>
                <li><a href="/root/root3/doctor/?number=4&name=Tom%20Baker"><b>Doctor 4 -&ndash;&gt; (4) Tom Baker)</b></a></li>
                <li><a href="/root/root3/doctor/?number=5&name=Peter%20Davison"><b>Doctor 5 -&ndash;&gt; (5) Peter Davison)</b></a></li>
                <li><a href="/root/root3/doctor/?number=6&name=Colin%20Baker"><b>Doctor 6 -&ndash;&gt; (6) Colin Baker)</b></a></li>
                <li><a href="/root/root3/doctor/?number=7&name=Sylvester%20McCoy"><b>Doctor 7 -&ndash;&gt; (7) Sylvester McCoy)</b></a></li>
                <li><a href="/root/root3/doctor/?number=8&name=Paul%20McGann"><b>Doctor 8 -&ndash;&gt; (8) Paul McGann)</b></a></li>
                <li><a href="/root/root3/doctor/?number=9&name=Christopher%20Eccleston"><b>Doctor 9 -&ndash;&gt; (9) Christopher Eccleston)</b></a></li>
                <li><a href="/root/root3/doctor/?number=10&name=David%20Tennant"><b>Doctor 10 -&ndash;&gt; (10) David Tennant)</b></a></li>
                <li><a href="/root/root3/doctor/?number=11&name=Matt%20Smith"><b>Doctor 11 -&ndash;&gt; (11) Matt Smith)</b></a></li>
                <li><a href="/root/root3/doctor/?number=12&name=Peter%20Capaldi"><b>Doctor 12 -&ndash;&gt; (12) Peter Capaldi)</b></a></li>
                <li><a href="/root/root3/doctor/?number=13&name=Jodie%20Whittaker"><b>Doctor 13 -&ndash;&gt; (13) Jodie Whittaker)</b></a></li>
                <li><a href="/root/root3/doctor/"><b>Unknown Doctor -&ndash;&gt; (0) John Smith)</b></a></li>
            </ul>
        </div>
    </body>
    <footer th:replace="footer :: bottom">Your footer here</footer>
</html>
