<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
        <link rel="stylesheet" th:href="@{/css/style.css}">
        <link rel="stylesheet" th:href="@{/css/root/root2.css}">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
        <title>Root 2</title>
    </head>
    <body>
        <header th:replace="header :: top">Your header/navbar here</header>
        <h1>Spring Quest : Root</h1>
        <h2>Root 2</h2>
        <div class="container">
            <ul>
                <li><a href="/root/2/doctor/1">Doctor 1 ---> Error 303</a></li>
                <li><a href="/root/2/doctor/2">Doctor 2 ---> Error 303</a></li>
                <li><a href="/root/2/doctor/3">Doctor 3 ---> Error 303</a></li>
                <li><a href="/root/2/doctor/4">Doctor 4 ---> Error 303</a></li>
                <li><a href="/root/2/doctor/5">Doctor 5 ---> Error 303</a></li>
                <li><a href="/root/2/doctor/6">Doctor 6 ---> Error 303</a></li>
                <li><a href="/root/2/doctor/7">Doctor 7 ---> Error 303</a></li>
                <li><a href="/root/2/doctor/8">Doctor 8 ---> Error 303</a></li>
                <li><a href="/root/2/doctor/9">Doctor 9 ---> Error 303</a></li>
                <li><a href="/root/2/doctor/10">Doctor 10 ---> Error 303</a></li>
                <li><a href="/root/2/doctor/11">Doctor 11 ---> Error 303</a></li>
                <li><a href="/root/2/doctor/12">Doctor 12 ---> Error 303</a></li>
                <li><a href="/root/2/doctor/13">Doctor 13 ---> {"number":13,"name":"Jodie Whitakker"}</a></li>
                <li><a href="/root/2/doctor/42">Doctor 42 ---> Error 404</a></li>
            </ul>
        </div>
    </body>
    <footer th:replace="footer :: bottom">Your footer here</footer>
</html>
