<!DOCTYPE html>
<html lang="en">
    <head th:fragment="head">
        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
        <link rel="stylesheet" th:href="@{/css/style.css}"/>
        <link rel="stylesheet" th:href="@{/css/root/root2.css}"/>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
        <title>Root 2</title>
    </head>
    <body>
        <header th:replace="header :: top">Your header/navbar here</header>
        <h1>Spring Quest : Root</h1>
        <h2>Root 2</h2>
        <div class="root2-quest-container">
            <ul>
                <li><a href="/root/root2/doctor/1"><b>Doctor 1 -&ndash;&gt; (Error 303)</b></a></li>
                <li><a href="/root/root2/doctor/2"><b>Doctor 2 -&ndash;&gt; (Error 303)</b></a></li>
                <li><a href="/root/root2/doctor/3"><b>Doctor 3 -&ndash;&gt; (Error 303)</b></a></li>
                <li><a href="/root/root2/doctor/4"><b>Doctor 4 -&ndash;&gt; (Error 303)</b></a></li>
                <li><a href="/root/root2/doctor/5"><b>Doctor 5 -&ndash;&gt; (Error 303)</b></a></li>
                <li><a href="/root/root2/doctor/6"><b>Doctor 6 -&ndash;&gt; (Error 303)</b></a></li>
                <li><a href="/root/root2/doctor/7"><b>Doctor 7 -&ndash;&gt; (Error 303)</b></a></li>
                <li><a href="/root/root2/doctor/8"><b>Doctor 8 -&ndash;&gt; (Error 303)</b></a></li>
                <li><a href="/root/root2/doctor/9"><b>Doctor 9 -&ndash;&gt; (Error 303)</b></a></li>
                <li><a href="/root/root2/doctor/10"><b>Doctor 10 -&ndash;&gt; (Error 303)</b></a></li>
                <li><a href="/root/root2/doctor/11"><b>Doctor 11 -&ndash;&gt; (Error 303)</b></a></li>
                <li><a href="/root/root2/doctor/12"><b>Doctor 12 -&ndash;&gt; (Error 303)</b></a></li>
                <li><a href="/root/root2/doctor/13"><b>Doctor 13 -&ndash;&gt; ({"number":13,"name":"Jodie Whitakker"})</b></a></li>
                <li><a href="/root/root2/doctor/42"><b>Doctor 42 -&ndash;&gt; (Error 404)</b></a></li>
            </ul>
        </div>
    </body>
    <footer th:replace="footer :: bottom">Your footer here</footer>
</html>
