<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
        <link rel="stylesheet" th:href="@{/css/style.css}"/>
        <link rel="stylesheet" th:href="@{/css/jdbc/jdbcIntroduction.css}"/>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
        <title>JDBC Introduction</title>
    </head>
    <body>
        <header th:replace="header :: top">Your header/navbar here</header>
        <h1>Spring Quest : JDBC</h1>
        <h2>JDBC Introduction</h2>
        <div class="container">
            <div class="add-new-person">
                <a href="/jdbc/jdbc-introduction/person">Add New Person</a>
            </div>
            <h3>All Persons</h3>
            <table>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Age</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="person : ${persons}">
                        <td th:text="${person.id}">id</td>
                        <td th:text="${person.firstName}">firstName</td>
                        <td th:text="${person.lastName}">lastName</td>
                        <td th:text="${person.age}">age</td>
                        <td><a th:href="@{/jdbc/person(id=${person.id})}">Edit</a></td>
                        <td><a th:href="@{/jdbc/person/delete(id=${person.id})}">Remove</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
    <footer th:replace="footer :: bottom">Your footer here</footer>
</html>
