<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
        <link rel="stylesheet" th:href="@{/css/style.css}">
        <link rel="stylesheet" th:href="@{/css/jdbc/jdbcIntroduction.css}">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
        <title>JDBC Introduction</title>
    </head>
    <body>
        <header th:replace="header :: top">Your header/navbar here</header>
        <h1>Spring Quest : JDBC</h1>
        <h2>JDBC Introduction</h2>
        <div class="container">
            <h3 th:text="${person.id} ? 'Edit Person' : 'Create Person'">Person</h3>
            <form method="POST" th:action="@{/jdbc/introduction/person}" th:object="${person}">
                <input name="id" th:field="*{id}" type="hidden">
                <label for="firstName">First Name :</label>
                <input id="firstName" name="firstName" placeholder="First Name" th:field="*{firstName}" type="text" required>
                <label for="lastName">Last Name :</label>
                <input id="lastName" name="lastName" placeholder="Last Name" th:field="*{lastName}" type="text" required>
                <label for="age">Age:</label>
                <input id="age" name="age" placeholder="40" th:field="*{age}" type="number" required>
                <input type="submit" value="Send">
            </form>
        </div>
    </body>
    <footer th:replace="footer :: bottom">Your footer here</footer>
</html>
