<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
        <link rel="stylesheet" th:href="@{/css/style.css}">
        <link rel="stylesheet" th:href="@{/css/jpa/jpaOneToMany.css}">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
        <title>JPA One To Many</title>
    </head>
    <body>
        <header th:replace="header :: top">Your header/navbar here</header>
        <h1>Spring Quest : JPA</h1>
        <h2>JPA One To Many</h2>
        <div class="container">
            <h3 th:text="${school.id} ? 'Edit School' : 'Create School'">School</h3>
            <form method="POST" th:action="@{/jpa/one-to-many/school}" th:object="${school}">
                <input name="id" th:field="*{id}" type="hidden">
                <label for="name">Name :</label>
                <input id="name" name="name" placeholder="Hogwarts" th:field="*{name}" type="text" required>
                <label for="capacity">Capacity :</label>
                <input id="capacity" name="capacity" placeholder="1000" th:field="*{capacity}" type="number" required>
                <label for="country">Country :</label>
                <input id="country" name="country" placeholder="Scotland" th:field="*{country}" type="text" required>
                <input type="submit" value="Send">
            </form>
        </div>
    </body>
    <footer th:replace="footer :: bottom">Your footer here</footer>
</html>
