<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
        <link rel="stylesheet" th:href="@{/css/style.css}">
        <link rel="stylesheet" th:href="@{/css/jpa/jpaOneToMany.css}"/>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
        <title>JPA Many To Many</title>
    </head>
    <body>
        <header th:replace="header :: top">Your header/navbar here</header>
        <h1>Spring Quest : JPA</h1>
        <h2>JPA One To Many</h2>
        <div class="container">
            <div class="add-new-wizard">
                <a href="/jpa/one-to-many/wizard">Add New Wizard</a>
            </div>
            <h3>All Wizards</h3>
            <table>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>First name</th>
                        <th>Last name</th>
                        <th>Birthday</th>
                        <th>Birth place</th>
                        <th>Biography</th>
                        <th>Muggle</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="wizard : ${wizards}">
                        <td th:text="${wizard.id}"></td>
                        <td th:text="${wizard.firstName}"></td>
                        <td th:text="${wizard.lastName}"></td>
                        <td th:text="${wizard.birthday}"></td>
                        <td th:text="${wizard.birthPlace}"></td>
                        <td th:text="${wizard.biography}"></td>
                        <td th:text="${wizard.muggle}"></td>
                        <td><a th:href="@{/jpa/one-to-many/wizard(id=${wizard.id})}">Edit</a></td>
                        <td><a th:href="@{/jpa/one-to-many/wizard/delete(id=${wizard.id})}">Remove</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
    <footer th:replace="footer :: bottom">Your footer here</footer>
</html>
