<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
        <link rel="stylesheet" th:href="@{/css/style.css}"/>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
        <title>JPA</title>
    </head>
    <body>
        <header th:replace="header :: top">Your header/navbar here</header>
        <h1>Spring Quests : JPA</h1>
        <h2>Quests List</h2>
        <div class="quests-links-container">
            <div class="quests-links">
                <h3><a class="quest-link" href="/jpa/jpa-1">JPA 1</a></h3>
                <h3><a class="quest-link" href="/jpa/many-to-many">Many To Many</a></h3>
                <h3><a class="quest-link" href="/jpa/one-to-many">One To Many</a></h3>
            </div>
        </div>
    </body>
    <footer th:replace="footer :: bottom">Your footer here</footer>
</html>
