<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
        <link rel="stylesheet" th:href="@{/css/style.css}"/>
        <title>Spring Quest : JPA Many To Many (Harry Potter - Race)</title>
    </head>
    <body>
        <header th:replace="header :: top">Your header here</header>
        <h2>Spring Quest : JPA Many To Many (Harry Potter - Race)</h2>
        <h3 th:text="${race.id} ? 'Edit Race' : 'Create Race'">Race</h3>
        <form method="post" th:action="@{race}" th:object="${race}">
            <input name="id" th:field="*{id}" type="hidden">
            <br/>
            <label for="race-name">Name:</label>
            <input id="race-name" name="name" placeholder="Wild Code Race" required th:field="*{name}" type="text">
            <br/>
            <input type="submit" value="Send">
        </form>
        <a href="/jpa/races">Return to the list</a>
    </body>
    <footer th:replace="footer :: bottom">Your footer here</footer>
</html>
