<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
        <link rel="stylesheet" th:href="@{/css/style.css}">
        <link rel="stylesheet" th:href="@{/css/jdbc/jdbcInjection.css}">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
        <title>JDBC Injection</title>
    </head>
    <body>
        <header th:replace="header :: top">Your header/navbar here</header>
        <h1>Spring Quest : JDBC</h1>
        <h2>JDBC Injection</h2>
        <div class="container">
            <h3 th:text="${wizard.id} ? 'Edit Wizard' : 'Create Wizard'">Wizard</h3>
            <form method="POST" th:action="@{/jdbc/injection/wizard}" th:object="${wizard}">
                <input name="id" th:field="*{id}" type="hidden">
                <label for="first-name">First name :</label>
                <input id="first-name" name="firstName" placeholder="Harry" th:field="*{firstName}" type="text" required>
                <label for="last-name">Last name :</label>
                <input id="last-name" name="lastName" placeholder="Potter" th:field="*{lastName}" type="text" required>
                <label for="birthday">Birthday :</label>
                <input id="birthday" name="birthday" placeholder="1980-07-31" th:field="*{birthday}" type="date" required>
                <label for="birth-place">Birth Place :</label>
                <input id="birth-place" name="birthPlace" placeholder="London" th:field="*{birthPlace}" type="text">
                <label for="biography">Biography :</label>
                <textarea id="biography" name="biography" th:field="*{biography}"></textarea>
                <div>
                    <label for="is-muggle">Is Muggle ?</label>
                    <input id="is-muggle" name="muggle" th:field="*{muggle}" type="checkbox">
                </div>
                <input type="submit" value="Send">
            </form>
        </div>
    </body>
</html>
