/* JPA Quest : Many To Many */
.container {
    margin-left: 20px;
    margin-right: 20px;
}

.container ul {
    list-style-type: none;
}

.container li a {
    text-decoration: none;
    color: #000000;
    font-size: 1.5em;
    font-weight: bold;
}

.container li a:hover {
    text-decoration: underline;
    color: #000000;
}

.add-new-wizard, .add-new-race {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    font-weight: bold;
}

.add-new-wizard a, .add-new-race a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 36px;
    text-decoration: none;
    background-color: #4caf50;
    color: #ffffff;
    cursor: pointer;
    border-radius: 4px;
}

.add-new-wizard a:hover, .add-new-race a:hover {
    background-color: #4caf50;
    opacity: 0.9;
}

.container table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

.container td a {
    text-decoration: none;
    color: #000000;
    font-size: 1.15em;
    font-weight: bold;
}

.container td a:hover {
    text-decoration: underline;
    color: #000000;
}

.container th {
    background-color: #4caf50;
    color: #ffffff;
}

.container tr:nth-child(even) {
    background-color: #f2f2f2;
}

.container th, td {
    border-bottom: 1px solid #ddd;
    padding: 10px 5px;
    text-align: left;
}

form {
    display: flex;
    flex-direction: column;
}

input, textarea, select {
    margin-top: 6px;
    margin-bottom: 16px;
    padding: 12px;
    border-radius: 4px;
    font-size: medium;
}

input[type=submit] {
    background-color: #4caf50;
    color: #ffffff;
    font-size: medium;
    cursor: pointer;
    border-radius: 4px;
    padding: 12px;
    border: none;
}

input[type=submit]:hover {
    background-color: #4caf50;
    opacity: 0.9;
}
