/* Quests : JPA */
.one-to-many-quest-container {
    margin-left: 20px;
    margin-right: 20px;
}

.one-to-many-quest-container ul {
    list-style-type: none;
}

.one-to-many-quest-container a {
    text-decoration: none;
    color: #000000;
    font-size: 1.15em;
}

.one-to-many-quest-container a:hover {
    text-decoration: underline;
    color: #000000;
}

.one-to-many-quest-container h3 {
    text-align: center;
}

.one-to-many-quest-container table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

.one-to-many-quest-container th {
    background-color: #4caf50;
    color: #ffffff;
}

.one-to-many-quest-container tr:nth-child(even) {
    background-color: #f2f2f2;
}

.one-to-many-quest-container th, td {
    border-bottom: 1px solid #ddd;
    padding: 10px 5px;
    text-align: left;
}

.one-to-many-quest-container td a {
    font-weight: bold;
}