<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
    <head>
        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
        <link rel="stylesheet" th:href="@{/css/style.css}">
        <link rel="stylesheet" th:href="@{/css/jdbc/jdbcUpdate.css}"/>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
        <title>Update</title>
    </head>
    <body>
        <header th:replace="header :: top">Your header/navbar here</header>
        <h1>Spring Quest : JDBC</h1>
        <h2>Update</h2>
        <div class="container">
            <h3>Edit School</h3>
            <form action="/jdbc/update/school" method="POST">
                <input th:value="${school.id}" name="id" type="hidden">
                <label for="name">Name:</label>
                <input th:value="${school.name}" id="name" name="name" placeholder="Hogwarts" type="text" required>
                <label for="capacity">Capacity:</label>
                <input th:value="${school.capacity}" id="capacity" name="capacity" placeholder="1000" type="number" required>
                <label for="country">Country:</label>
                <input th:value="${school.country}" id="country" name="country" placeholder="Scotland" type="text" required>
                <input type="submit" value="Send">
            </form>
        </div>
    </body>
</html>