<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/jdbc/jdbcUpdate.css}"/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <title>Update</title>
</head>
    <body>
        <header th:replace="header :: top">Your header/navbar here</header>
        <h1>Spring Quest : JDBC</h1>
        <h2>Update</h2>
        <div class="container">
            <ul>
                <li th:text="| Id: ${wizard.id} |"></li>
                <li th:text="| First name: ${wizard.firstName} |"></li>
                <li th:text="| Last name: ${wizard.lastName} |"></li>
                <li th:text="| Birthday: ${wizard.birthday} |"></li>
                <li th:text="| Birth place: ${wizard.birthPlace} |"></li>
                <li th:text="| Is Muggle: ${wizard.muggle} |"></li>
            </ul>
            <a href="/jdbc/update/wizards">Back to all Wizards</a>
        </div>
    </body>
</html>