<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
        <link rel="stylesheet" th:href="@{/css/style.css}">
        <link rel="stylesheet" th:href="@{/css/jdbc/jdbcUpdate.css}"/>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
        <title>Update</title>
    </head>
    <body>
        <header th:replace="header :: top">Your header/navbar here</header>
        <h1>Spring Quest : JDBC</h1>
        <h2>Update</h2>
        <div class="container">
            <h3>Edit Wizard</h3>
            <form action="/jdbc/update/wizard" method="POST">
                <input th:value="${wizard.id}" name="id" type="hidden">
                <label for="first-name">First name :</label>
                <input th:value="${wizard.firstName}" id="first-name" name="firstName" placeholder="Harry" type="text" required>
                <label for="last-name">Last name :</label>
                <input th:value="${wizard.lastName}" id="last-name" name="lastName" placeholder="Potter" type="text" required>
                <label for="birthday">Birthday :</label>
                <input th:value="${wizard.birthday}" id="birthday" name="birthday" placeholder="1980-07-31" type="date" required>
                <label for="birth-place">Birth Place :</label>
                <input th:value="${wizard.birthPlace}" id="birth-place" name="birthPlace" placeholder="London" type="text" required>
                <label for="biography">Biography :</label>
                <textarea th:text="${wizard.biography}" id="biography" name="biography"></textarea>
                <label for="is-muggle">Is Muggle ?</label>
                <input th:checked="${wizard.muggle}" id="is-muggle" name="muggle" type="checkbox" value="true">
                <input type="submit" value="Send">
            </form>
        </div>
    </body>
</html>