<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
        <link rel="stylesheet" th:href="@{/css/style.css}"/>
        <link rel="stylesheet" th:href="@{/css/jpa/oneToMany.css}"/>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
        <title>One To Many</title>
    </head>
    <body>
        <header th:replace="header :: top">Your header/navbar here</header>
        <h1>Spring Quest : JPA</h1>
        <h2>One To Many</h2>
        <div class="container">
            <h3 th:text="'Register new Wizard to : ' + ${school.name}"></h3>
            <form action="/jpa/one-to-many/school/wizard" method="POST">
                <input name="idSchool" th:value="${school.id}" type="hidden">
                <select id="wizard" name="idWizard">
                    <option th:each="wizard : ${allWizards}" th:text="|${wizard.firstName} ${wizard.lastName}|" th:value="${wizard.id}"></option>
                </select>
                <input type="submit" value="Register">
            </form>
            <h3 th:text="'All Wizards in : ' + ${school.name}"></h3>
            <table>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>First name</th>
                        <th>Last name</th>
                        <th>Birthday</th>
                        <th>Birth place</th>
                        <th>Biography</th>
                        <th>Muggle</th>
                        <th>School</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="wizard : ${schoolWizards}">
                        <td th:text="${wizard.id}"></td>
                        <td th:text="${wizard.firstName}"></td>
                        <td th:text="${wizard.lastName}"></td>
                        <td th:text="${wizard.birthday}"></td>
                        <td th:text="${wizard.birthPlace}"></td>
                        <td th:text="${wizard.biography}"></td>
                        <td th:text="${wizard.muggle}"></td>
                        <td th:text="${wizard.school.getName()}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
    <footer th:replace="footer :: bottom">Your footer here</footer>
</html>
