<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
        <link rel="stylesheet" th:href="@{/css/style.css}"/>
        <title>Spring Quest : JPA One To Many (Harry Potter - School's Wizards)</title>
    </head>
    <body>
        <header th:replace="header :: top">Your header here</header>
        <h2>Spring Quest : JPA One To Many (Harry Potter - School's Wizards</h2>
        <h3>School's Wizards</h3>
        <form action="/jpa/school/wizard/register" method="post">
            <input name="idSchool" th:value="${school.id}" type="hidden">
            <h3 th:text="${school.name}"></h3>
            <label for="wizard">Register a wizard to school:</label>
            <select id="wizard" name="idWizard">
                <option th:each="wizard : ${allWizards}" th:text="|${wizard.firstName} ${wizard.lastName}|" th:value="${wizard.id}">wizard name</option>
            </select>
            <input type="submit" value="Register">
        </form>
        <h3>School's Wizards :</h3>
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Birthday</th>
                    <th>Birth place</th>
                    <th>Biography</th>
                    <th>Muggle</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="wizard : ${schoolWizards}">
                    <td th:text="${wizard.id}">id</td>
                    <td th:text="${wizard.firstName}">first name</td>
                    <td th:text="${wizard.lastName}">last name</td>
                    <td th:text="${wizard.birthday}">birthday</td>
                    <td th:text="${wizard.birthPlace}">birth place</td>
                    <td th:text="${wizard.biography}">biography</td>
                    <td th:text="${wizard.muggle}">muggle</td>
                </tr>
            </tbody>
        </table>
        <a href="/static">Return to the index</a>
    </body>
    <footer th:replace="footer :: bottom">Your footer here</footer>
</html>