<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
        <link rel="stylesheet" th:href="@{/css/style.css}"/>
        <link rel="stylesheet" th:href="@{/css/jpa/oneToMany.css}"/>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
        <title>JPA 1</title>
    </head>
    <body>
        <header th:replace="header :: top">Your header/navbar here</header>
        <h1>Spring Quest : JPA</h1>
        <h2>One To Many</h2>
        <div class="container">
            <h3 th:text="${wizard.id} ? 'Edit Wizard' : 'Create Wizard'">Wizard</h3>
            <form method="POST" th:action="@{wizard}" th:object="${wizard}">
                <input name="id" th:field="*{id}" type="hidden">
                <label for="wizard-first-name">First Name : </label>
                <input id="wizard-first-name" name="firstName" placeholder="Harry" required th:field="*{firstName}" type="text">
                <label for="wizard-last-name">Last Name : </label>
                <input id="wizard-last-name" name="lastName" placeholder="Potter" required th:field="*{lastName}" type="text">
                <label for="wizard-birthday">Birthday : </label>
                <input id="wizard-birthday" name="birthday" placeholder="1980-07-31" required th:field="*{birthday}" type="date">
                <label for="wizard-birth-place">Birth Place : </label>
                <input id="wizard-birth-place" name="birthPlace" placeholder="London" th:field="*{birthPlace}" type="text">
                <label for="wizard-biography">Biography : </label>
                <textarea id="wizard-biography" name="biography" th:field="*{biography}"></textarea>
                <label for="wizard-is-muggle">Is Muggle ? </label>
                <input id="wizard-is-muggle" name="muggle" th:field="*{muggle}" type="checkbox">
                <input type="submit" value="Send">
            </form>
        </div>
    </body>
    <footer th:replace="footer :: bottom">Your footer here</footer>
</html>
