<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Wild And Wizard - Schools Result</title>
</head>
<body>
<ul th:each="school : ${schools}">
    <li th:text="|Id: ${school.id}|"></li>
    <li th:text="|Name: ${school.name}|"></li>
    <li th:text="|Capacity: ${school.capacity}|"></li>
    <li th:text="|Country: ${school.country}|"></li>
    <td><a th:href="@{/jdbc/delete/school(id=${school.id})}">Delete</a></td>
</ul>
<a href="/">Go back</a>
</body>
</html>