
table {
    border-collapse: collapse;
}

th {
    background-color: #4CAF50;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

th, td {
    border-bottom: 1px solid #ddd;
    padding: 10px 5px;
    text-align: left;
}

label, textarea {
    display: block;
    margin-top: 15px;
}

input {
    margin-top: 10px;
    width: 500px;
    height: 20px;
}




/* Header/Navbar */
nav ul {
    background-color: #24262b;
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

nav li {
    float: left;
}

nav li a {
    text-decoration: none;
    display: block;
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    padding: 10px 20px;

}

.active {
    color: #ffffff;
    background-color: #4caf50;
}

nav li a:hover {
    background-color: #4caf50;
    opacity: 0.9;
}

/* Body */
body {
    margin: 0;
}

h1, h2 {
    text-align: center;
}

/* List of quests */
.quest-link {
    text-decoration: none;
    color: black;
    margin-left: 20px;
}

.quest-link:hover {
    text-decoration: underline;
    color: black;
}

/* Quests : Root1, Root2 and Root3 */
.root1-quest-container, .root2-quest-container, .root3-quest-container {
    margin-left: 20px;
}

.root1-quest-container ul, .root2-quest-container ul, .root3-quest-container ul {
    list-style-type: none;
}

.root1-quest-container a, .root2-quest-container a, .root3-quest-container a {
    text-decoration: none;
    list-style-type: none;
    color: black;
}

.root1-quest-container a:hover, .root2-quest-container a:hover, .root3-quest-container a:hover {
    text-decoration: underline;
    color: black;
}

/* Footer */
footer {
    text-align: center;
    color: #ffffff;
    background: #24262b;
    padding: 10px;
    text-align: center;
}

footer .social-links a {
    display: inline-block;
    color: #ffffff;
    height: 40px;
    width: 40px;
    background-color: #4caf50;
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    transition: all 0.5s ease;
}

footer .social-links a:hover {
    color: #4caf50;
    background-color: #ffffff;
}
