/*label, textarea {
    display: block;
    margin-top: 15px;
}*/


/* Header/Navbar */
nav {
    margin-bottom: 20px;
}

nav ul {
    background-color: #24262b;
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

nav li {
    float: left;
}

nav li a {
    text-decoration: none;
    display: block;
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    padding: 10px 20px;
}

.active {
    color: #ffffff;
    background-color: #4caf50;
}

nav li a:hover {
    background-color: #4caf50;
    opacity: 0.9;
}

/* Body */
body {
    margin: 0;
}

h1, h2 {
    text-align: center;
}

/* Footer */
footer {
    margin-top: 50px;
    text-align: center;
    color: #ffffff;
    background: #24262b;
    padding: 10px;
    text-align: center;
}

footer .social-links a {
    display: inline-block;
    color: #ffffff;
    height: 40px;
    width: 40px;
    background-color: #4caf50;
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    transition: all 0.5s ease;
}

footer .social-links a:hover {
    color: #4caf50;
    background-color: #ffffff;
}

/* List of quests */
.quest-link {
    text-decoration: none;
    color: #000000;
    margin-left: 20px;
}

.quest-link:hover {
    text-decoration: underline;
    color: #000000;
}

/* Quests : Root */
/*.root1-quest-container, .root2-quest-container, .root3-quest-container {
    margin-left: 20px;
}

.root1-quest-container ul, .root2-quest-container ul, .root3-quest-container ul {
    list-style-type: none;
}

.root1-quest-container a, .root2-quest-container a, .root3-quest-container a {
    text-decoration: none;
    color: #000000;
    font-size: 1.15em;
}

.root1-quest-container a:hover, .root2-quest-container a:hover, .root3-quest-container a:hover {
    text-decoration: underline;
    color: #000000;
}*/

/* Quests : JPA */
/*
.jpa1-quest-container, .many-to-many-quest-container, .one-to-many-quest-container {
    margin-left: 20px;
    margin-right: 20px;
}

.jpa1-quest-container ul, .many-to-many-quest-container ul, .one-to-many-quest-container ul {
    list-style-type: none;
}

.jpa1-quest-container a, .many-to-many-quest-container a, .one-to-many-quest-container a {
    text-decoration: none;
    color: #000000;
    font-size: 1.15em;
}

.jpa1-quest-container a:hover, .many-to-many-quest-container a:hover, .one-to-many-quest-container a:hover {
    text-decoration: underline;
    color: #000000;
}

.jpa1-quest-container h3, .many-to-many-quest-container h3, .one-to-many-quest-container h3 {
    text-align: center;
}

.jpa1-quest-container table, .many-to-many-quest-container table, .one-to-many-quest-container table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

.jpa1-quest-container th, .many-to-many-quest-container th, .one-to-many-quest-container th {
    background-color: #4caf50;
    color: #ffffff;
}

.jpa1-quest-container tr:nth-child(even), .many-to-many-quest-container tr:nth-child(even), .one-to-many-quest-container tr:nth-child(even) {
    background-color: #f2f2f2;
}

.jpa1-quest-container th, td, .many-to-many-quest-container th, td, .one-to-many-quest-container th, td {
    border-bottom: 1px solid #ddd;
    padding: 10px 5px;
    text-align: left;
}

.jpa1-quest-container td a, .many-to-many-quest-container td a, .one-to-many-quest-container td a {
    font-weight: bold;
}
*/

/*.register-wizard-to-school {
    margin-bottom: 50px;
    text-align: center;
}

.register-wizard-to-school select {
    width: 200px;
    height: 36px;
}

.register-wizard-to-school input {
    width: 150px;
    height: 36px;
    background-color: #4caf50;
    color: #ffffff;
    cursor: pointer;
    border-radius: 4px;
    border-style: none;
}

.register-wizard-to-school input:hover {
    background-color: #4caf50;
    opacity: 0.9;
}*/

/*.edit-race {
    margin-bottom: 50px;
    text-align: center;
}

.name-edit-race, .edit-race label {
    width: 200px;
    height: 30px;
}

.button-edit-race {
    width: 150px;
    height: 36px;
    background-color: #4caf50;
    color: #ffffff;
    cursor: pointer;
    border-radius: 4px;
    border-style: none;
}

.button-edit-race:hover {
    background-color: #4caf50;
    opacity: 0.9;
}*/
