<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
        <link rel="stylesheet" th:href="@{/css/style.css}"/>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
        <title>One To Many</title>
    </head>
    <body>
        <header th:replace="header :: top">Your header/navbar here</header>
    </body>
    <footer th:replace="footer :: bottom">Your footer here</footer>
</html>
