<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="head :: head">Your head here</head>
    <body>
        <header th:replace="header :: top">Your header/navbar here</header>
<!--        <h3><a href="/doctor">Quests : Root (Doctor)</a></h3>
        <h3><a href="/jpa">Quests : JPA (Harry Potter)</a></h3>
        <h3><a href="/api">Quest : API (Star Wars)</a></h3>
        <h3><a href="/jdbc/githubers">Quest : JDBC (Githubers)</a></h3>
        <h3><a href="/jdbc/persons">Quest : JDBC Introduction</a></h3>-->
    </body>
    <footer th:replace="footer :: bottom">Your footer here</footer>
</html>
