<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
        <link rel="stylesheet" th:href="@{/css/style.css}"/>
        <title>Spring Quests : JDBC Introduction</title>
    </head>
    <body>
        <header th:replace="header :: top">Your header here</header>
        <h2>Spring Quests : JDBC Introduction</h2>
        <h3><a href="jdbcIntroduction/persons">Browse all Persons</a></h3>
        <h3><a href="jdbcIntroduction/person">Add new Person</a></h3>
    </body>
    <footer th:replace="footer :: bottom">Your footer here</footer>
</html>
