<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
        <link rel="stylesheet" th:href="@{/css/style.css}"/>
        <link rel="stylesheet" th:href="@{/css/jpa/manyToMany.css}"/>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
        <title>Many To Many</title>
    </head>
    <body>
        <header th:replace="header :: top">Your header/navbar here</header>
        <h1>Spring Quest : JPA</h1>
        <h2>Many To Many</h2>
        <div class="container">
            <ul>
                <li><a href="/jpa/many-to-many/races">Show All Races</a></li>
                <li><a href="/jpa/many-to-many/wizards">Show All Wizards</a></li>
                <li><a href="/jpa/many-to-many/race">Add A New Race</a></li>
                <li><a href="/jpa/many-to-many/wizard">Add A New Wizard</a></li>
            </ul>
        </div>
    </body>
    <footer th:replace="footer :: bottom">Your footer here</footer>
</html>
