<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
        <link rel="stylesheet" th:href="@{/css/style.css}"/>
        <title>Spring Quest : JPA Many To Many (Harry Potter - Races)</title>
    </head>
    <body>
        <header th:replace="header :: top">Your header here</header>
        <h2>Spring Quest : JPA Many To Many (Harry Potter - Races)</h2>
        <h3>Races</h3>
        <a href="/jpa/race">Add a new Race!</a>
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="race : ${races}">
                <td th:text="${race.id}">id</td>
                <td th:text="${race.name}">name</td>
                <td><a th:href="@{/jpa/race(id=${race.id})}">Edit</a></td>
                <td><a th:href="@{/jpa/race/delete(id=${race.id})}">Remove</a></td>
            </tr>
            </tbody>
        </table>
        <a href="/static">Return to the index</a>
    </body>
    <footer th:replace="footer :: bottom">Your footer here</footer>
</html>
