<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
        <link rel="stylesheet" th:href="@{/css/style.css}">
        <link rel="stylesheet" th:href="@{/css/jpa/jpaManyToMany.css}"/>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
        <title>Many To Many</title>
    </head>
    <body>
        <header th:replace="header :: top">Your header/navbar here</header>
        <h1>Spring Quest : JPA</h1>
        <h2>Many To Many</h2>
        <div class="container">
            <h3 th:text="${race.id} ? 'Edit Race' : 'Create Race'">Race</h3>
            <form method="POST" th:action="@{race}" th:object="${race}">
                <input name="id" th:field="*{id}" type="hidden">
                <label for="name">Name : </label>
                <input id="name" name="name" placeholder="Human" th:field="*{name}" type="text" required>
                <input type="submit" value="Send">
            </form>
        </div>
    </body>
    <footer th:replace="footer :: bottom">Your footer here</footer>
</html>
