<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
        <link rel="stylesheet" th:href="@{/css/style.css}">
        <link rel="stylesheet" th:href="@{/css/jpa/jpaManyToMany.css}">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
        <title>JPA Many To Many</title>
    </head>
    <body>
        <header th:replace="header :: top">Your header/navbar here</header>
        <h1>Spring Quest : JPA</h1>
        <h2>JPA Many To Many</h2>
        <div class="container">
            <div class="add-new-race">
                <a href="/jpa/many-to-many/race">Add New Race</a>
            </div>
            <h3>All Races</h3>
            <table>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="race : ${races}">
                        <td th:text="${race.id}"></td>
                        <td th:text="${race.name}"></td>
                        <td><a th:href="@{/jpa/many-to-many/race(id=${race.id})}">Edit</a></td>
                        <td><a th:href="@{/jpa/many-to-many/race/delete(id=${race.id})}">Remove</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
    <footer th:replace="footer :: bottom">Your footer here</footer>
</html>
