<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
        <link rel="stylesheet" th:href="@{/css/style.css}">
        <link rel="stylesheet" th:href="@{/css/jpa/jpaManyToMany.css}"/>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
        <title>Many To Many</title>
    </head>
    <body>
        <header th:replace="header :: top">Your header/navbar here</header>
        <h1>Spring Quest : JPA</h1>
        <h2>Many To Many</h2>
        <div class="container">
            <h3 th:text="'Register ' + | ${wizard.firstName} ${wizard.lastName} | + ' in a new race'"></h3>
            <form action="/jpa/many-to-many/wizard/race" method="POST">
                <input name="idWizard" th:value="${wizard.id}" type="hidden">
                <select id="race" name="idRace">
                    <option th:each="race : ${allRaces}" th:text="${race.name}" th:value="${race.id}">wizard name</option>
                </select>
                <input type="submit" value="Register">
            </form>
            <h3 th:text="'All Races where ' + | ${wizard.firstName} ${wizard.lastName} | + ' is registered'"></h3>
            <table>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="race : ${wizard.races}">
                        <td th:text="${race.id}"></td>
                        <td th:text="${race.name}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
    <footer th:replace="footer :: bottom">Your footer here</footer>
</html>
